<!DOCTYPE html>
<br>
<nav ng-controller="NavController">
    <ul class="nav nav-tabs topNavButtons">
        <li ng-class="{'active': $location.url() == '/profile/{{currentUser._id}}'}"><a href="#/profile/{{currentUser._id}}">Profile</a></li>
        <li ng-if="currentuser==currentUser" ng-class="{'active': $location.url() == '/books/{{currentUser._id}}'}"><a href="#/books/{{currentUser._id}}">Books</a></li>
        <li ng-if="currentuser==currentUser" ng-class="{'active': $location.url() == '/following/{{currentUser._id}}'}"><a href="#/following/{{currentUser._id}}">Following</a></li>
        <li ng-if="currentuser==currentUser" ng-class="{'active': $location.url() == '/reviews/{{currentUser._id}}'}"><a href="#/reviews/{{currentUser._id}}">Reviews</a></li>
    </ul>
</nav>
<br>
<div>
    <form class="form-horizontal">
        <fieldset  ng-disabled="disableFields">
            <div class="form-group">
                <label for="username3" class="col-sm-2 control-label topNavButtons">Username</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="currentuser.username" class="form-control " id="username3" placeholder="Username">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword4" class="col-sm-2 control-label topNavButtons">Password</label>
                <div class="col-sm-10">
                    <input type="password" ng-model="currentuser.password" class="form-control" id="inputPassword4" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <label for="firstname" class="col-sm-2 control-label topNavButtons">First Name</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="currentuser.firstName" class="form-control" id="firstname" placeholder="First Name">
                </div>
            </div>
            <div class="form-group">
                <label for="lastname" class="col-sm-2 control-label topNavButtons">Last Name</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="currentuser.lastName" class="form-control" id="lastname" placeholder="Last Name">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail5" class="col-sm-2 control-label topNavButtons">Email</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="currentuser.emails" class="form-control" id="inputEmail5"  placeholder="Email" ng-list>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button  id="profileButton" ng-disabled="currentuser!=currentUser" ng-click="update(currentuser)" type="submit" class="btn btn-default btn-block btn-primary">Update</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>