.iconButton {
    cursor: pointer;
    color: blue
}
.homeIcon {
    color: whitesmoke;
    font-size: 40px;
    padding-right: 20px;
    padding-top: 10px;
}
.homeIconSide {
    color: black;
    font-size: 30px;
    padding-right: 20px;
    padding-top: 10px;
}
.userIcon {
    color: black;
    font-size: 30px;
    padding-right: 20px;
    padding-top: 10px;
}
.adminIcon {
    color: black;
    font-size: 30px;
    padding-right: 20px;
    padding-top: 10px;
}
.fileIcon {
    color: black;
    font-size: 30px;
    padding-right: 20px;
    padding-top: 10px;
}